<!-- To Do
- Artist info in header, not table -- OK
- Published Date format -- OK
- Load Bar progress -- get click search to work -- OK
- Exit proceedure for large scrapes -- OK -- timeout
- Make scrape date pretty -- OK
- Favicon -- OK
- Load "this may take a while" -- OK
- Get artist image -- OK
- Hit enter and Search bug -- OK 
- # of videos bug -- OK
- # of Scraped Videos -- OK
- logo hyperlink bug -- OK
- analytics button resize -- OK
- Block redesign -- OK
- Backgorund color of bottom of page when scrolling --
- sortable table -- 
- Terminate if page is refreshed/closed/stopped --
- Regression (plotly) --
- Export raw data file -- 
- Fix table pretty -- 
- Database SQL String issue -- Maybe try using `` for quotes
- Fix Analytics Button generating another scrape -- OK
- JSON data is available upon search screen returning (want just analytics page) -- OK
- Analytics page 
        - Artist info
        - Return to search results/home screen
        - Regression
        - Income Estimate
        - Raw Data
- Fix bug where scrape is terminated -- ??
- Instagram NavBar -- 
- Redirect back to home page after a search -- Not neccessary
- Table for IP addresses and site visited -- Not neccessary
- Integer to commas on cards -- OK
- Last retrieved, make this a hyperlink/button that goes to a modal
asking to pull latest data - implementation - add to existing data or do full scrape?
- Analytics - avg likes/duration/views/days between posts/ rolling averages/etc. -- 
- Infinite scroll -- NO, too hard
- Queue requests --
- Use channel codes instead of artist name as uinique identifier -- OK
- Change new tables to be artist code, not artist name -- OK
- Pass artist code to modal javascript, not artist name -- OK
- Load Bar bug 2nd and 3rd decks -- 
- Drop TABLE_NAME columns? -- new pull uses original name, scrape uses UC code -- OK, dropped
- Modal pops up if not found in database with artist info pulled up
asks user to verify if they want to make a new scrape request -- OK
- Youtube code SQL error insert into db /UCZ--wioJBLuh5oLMG5aoIcQ -- OK, replace "-" with ""
- Uploads vs Music Adele playlist bug -- OK, _replaced_
- Clean up SEARCH_NAME columns -- 
 -->