/* th {
  position:fixed;
} */

/* table{
  top: 1000px;
  

} */
/* tbody{
  position:auto
} */

#load-bar{
  vertical-align: super;
}

.pic{
vertical-align: sub;
}

.button:hover{ 
color: white;
}

.button{
color:white;
background-color: rgb(243, 85, 85);
}


.header{
  font-size: 14pt;
  font-weight: bold;
}

.header2{
  font-size: 14pt;
}

td{
  position: auto;
  top: 140px;
  /* background:white; */


}
.table-fixed {
  overflow-y: auto;
  height: 300px;
}

.table-fixed table {
  border-collapse: collapse;
  width: 100%;
  background:gray;
}

.table-fixed th,
.table-fixed td {
  padding: 8px 16px;
}

.table-fixed th {
  position: sticky;
  top: 90px;
  background:white;
} 

p {margin:auto;
   font-size : 20pt;
}

/* td {text-align:left;
}

th {text-align:left;
} */

/* .float-right {
  overflow: hidden;
} */

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(66, 243, 66);
  color: black;
  text-align: center;
  font-size: 9pt;
} */

.vert{
  vertical-align:bottom;
  display:inline-block;
}

/* .vert:first { font-size: 60%; } */