/* Styles */

.card{
  height: 15%;
}

.link_color{
  color:black;
  text-decoration: none;
}

.link_color:hover{
  text-decoration: none;
  color:black;
}

.alert {
  height:5%;   
  width:285px; 
  line-height: 0;
  text-align: left;
}

.width{
  width:100%;
}

#loading{
  font-size: 10pt;
}

.h6-font{
font-size: 9pt;
}

#load-bar{
  vertical-align: super;
}

.pic{
vertical-align: sub;
}

.button:hover{ 
color: white;
}

.button{
color:white;
background-color: rgb(243, 85, 85);
}

.header{
  font-size: 14pt;
  font-weight: bold;
}

.header2{
  font-size: 14pt;
  color:black;
}

td{
  position: auto;
  top: 140px;
  /* background:white; */

}
.table-fixed {
  overflow-y: auto;
  height: 300px;
}

.table-fixed table {
  border-collapse: collapse;
  width: 100%;
  background:gray;
}

.table-fixed th,
.table-fixed td {
  padding: 8px 16px;
}

.table-fixed th {
  position: sticky;
  top: 90px;
  background:white;
} 

p {margin:auto;
   font-size : 20pt;
}

.vert{
  vertical-align:bottom;
  display:inline-block;
}
